
.idea/
*.egg-info/
pubtk/runtk/__pycache__/

*.log

tests/__pycache__/

pubtk/utils/__pycache__/

pubtk/.DS_Store

examples/ca3_sfs/arm64/

.DS_Store

examples/ca3_sfs/__pycache__/

examples/tut8/__pycache__/grid_search.cpython-311.pyc
